body {
  background: rgb(214, 80, 255);
  background: linear-gradient(
    0deg,
    rgba(214, 80, 255, 1) 0%,
    rgba(18, 6, 148, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  color: white;
  height: 100vh;
}

.App {
  text-align: center;
  padding: 2rem;
  border: white solid 1px;
  width: 32rem;
  margin: 0 auto;
  margin-top: 5rem;
}

.App h1 {
  font-size: 3rem;
  line-height: 3.2rem;
}

.App .counter {
  font-size: 6rem;
  line-height: 6.4rem;
}

.App button {
  padding: 2rem;
  background: transparent;
  border: white solid 1px;
  border-radius: 0.2rem;
  color: white;
  margin: 1rem;
}